
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>

    <h1>@ViewBag.Greeting World from view</h1>
    <p>
        We're going to have an exciting party.<br />
        (To do: sell it better. Add pictures or something.)
    </p>
    <a asp-action="RsvpForm">RSVP Now</a>
</body>
</html>
